In [1]:
import pandas as pd
import numpy as np
import os

path = r'C:\Users\lauri\Desktop\Careerfoundry\Python'

df_ords_prior = pd.read_csv(os.path.join(path, 'Instacart Basket Analysis', '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [5]:
path = r'C:\Users\lauri\Desktop\Careerfoundry\Python\Instacart Basket Analysis\02 Data\Prepared Data'

# Join the path with the file name
df_ords = pd.read_csv(os.path.join(path, 'orders_wrangled.csv'), index_col=False)

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords_prior.shape

(32434489, 4)

In [8]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [9]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [10]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [17]:
df_merged_large.to_pickle('C:/Users/lauri/Desktop/Careerfoundry/Python/Instacart Basket Analysis/02 Data/Prepared Data/df_merged_large.pkl')