In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path=r"C:\Users\chenh\z_Careerfoundry\A4_Instacart Basket Analysis"

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_derived.pkl'))

In [5]:
# creat subset
ords_prods_merge_sub=ords_prods_merge[:1000000]

In [6]:
ords_prods_merge_sub.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [7]:
# Use groupby and agg functions to calculate mean of user_order_number
ords_prods_merge.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

There are 21 depatment_id's compared to the subset of 100000 there are only 8. And the mean order numbers seem to be different for each department when looking at the entire data frame.

In [8]:
# Creating new column "max_order"
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
# Checking for new column
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,First_Buy,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,10
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
15,2293453,19,2,5,14,6.0,False,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9
16,1973799,19,5,6,12,8.0,False,196,15,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9
17,532817,19,7,4,17,6.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,9
18,1573906,21,10,3,10,6.0,False,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,33
19,1593000,31,10,3,8,7.0,False,196,17,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,20

In [10]:
# Assign loyalty flag
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
# Check loyalty flags
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [12]:
# Check Loyalty flag in dataframe
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number','max_order']].head(20)

    user_id      loyalty_flag  order_number  max_order
0         1      New customer             1         10
1         1      New customer             2         10
2         1      New customer             3         10
3         1      New customer             4         10
4         1      New customer             5         10
5         1      New customer             6         10
6         1      New customer             7         10
7         1      New customer             8         10
8         1      New customer             9         10
9         1      New customer            10         10
10       15  Regular customer            15         22
11       15  Regular customer            17         22
12       15  Regular customer            18         22
13       15  Regular customer            21         22
14       15  Regular customer            22         22
15       19      New customer             2          9
16       19      New customer             5          9
17       19      New customer             7          9
18       21  Regular customer            10         33
19       31  Regular customer            10         20

In [13]:
# the min max and mean of each loyalty flag
ords_prods_merge.groupby(['loyalty_flag']).agg({'prices':['mean','min','max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.773611  1.0  25.0
New customer      7.801278  1.0  25.0
Regular customer  7.798324  1.0  25.0

New customers have the least price of products in both the average and max. Loyal customer have the highest price of products in both the average and max.

In [14]:
# Creating column for average spender
ords_prods_merge['average_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [15]:
# Creating flag for low and high spender
ords_prods_merge.loc[ords_prods_merge['average_spend']<10,'spender_flag']='Low_spender'

ords_prods_merge.loc[ords_prods_merge['average_spend']>= 10, 'spender_flag'] = 'High_spender'

In [16]:
# Check spender flags
ords_prods_merge['spender_flag'].value_counts(dropna = False)

Low_spender     32285150
High_spender      119709
Name: spender_flag, dtype: int64

In [17]:
pd.options.display.max_rows = 100

In [18]:
ords_prods_merge[['user_id', 'average_spend', 'spender_flag', 'prices']].head(100)

    user_id  average_spend  spender_flag  prices
0         1       6.367797   Low_spender     9.0
1         1       6.367797   Low_spender     9.0
2         1       6.367797   Low_spender     9.0
3         1       6.367797   Low_spender     9.0
4         1       6.367797   Low_spender     9.0
5         1       6.367797   Low_spender     9.0
6         1       6.367797   Low_spender     9.0
7         1       6.367797   Low_spender     9.0
8         1       6.367797   Low_spender     9.0
9         1       6.367797   Low_spender     9.0
10       15       3.980556   Low_spender     9.0
11       15       3.980556   Low_spender     9.0
12       15       3.980556   Low_spender     9.0
13       15       3.980556   Low_spender     9.0
14       15       3.980556   Low_spender     9.0
15       19       8.372059   Low_spender     9.0
16       19       8.372059   Low_spender     9.0
17       19       8.372059   Low_spender     9.0
18       21       7.012683   Low_spender     9.0
19       31       8.137793   Low_spender     9.0
20       31       8.137793   Low_spender     9.0
21       43       7.444898   Low_spender     9.0
22       43       7.444898   Low_spender     9.0
23       52       6.356287   Low_spender     9.0
24       52       6.356287   Low_spender     9.0
25       52       6.356287   Low_spender     9.0
26       52       6.356287   Low_spender     9.0
27       52       6.356287   Low_spender     9.0
28       52       6.356287   Low_spender     9.0
29       52       6.356287   Low_spender     9.0
30       52       6.356287   Low_spender     9.0
31       52       6.356287   Low_spender     9.0
32       52       6.356287   Low_spender     9.0
33       52       6.356287   Low_spender     9.0
34       52       6.356287   Low_spender     9.0
35       52       6.356287   Low_spender     9.0
36       52       6.356287   Low_spender     9.0
37       67       7.656790   Low_spender     9.0
38       67       7.656790   Low_spender     9.0
39       67       7.656790   Low_spender     9.0
40       67       7.656790   Low_spender     9.0
41       67       7.656790   Low_spender     9.0
42       67       7.656790   Low_spender     9.0
43       67       7.656790   Low_spender     9.0
44       67       7.656790   Low_spender     9.0
45       67       7.656790   Low_spender     9.0
46       67       7.656790   Low_spender     9.0
47       67       7.656790   Low_spender     9.0
48       67       7.656790   Low_spender     9.0
49       67       7.656790   Low_spender     9.0
50       67       7.656790   Low_spender     9.0
51       67       7.656790   Low_spender     9.0
52       67       7.656790   Low_spender     9.0
53       67       7.656790   Low_spender     9.0
54       67       7.656790   Low_spender     9.0
55       67       7.656790   Low_spender     9.0
56       81       8.165385   Low_spender     9.0
57       81       8.165385   Low_spender     9.0
58       82       6.441221   Low_spender     9.0
59       82       6.441221   Low_spender     9.0
60       82       6.441221   Low_spender     9.0
61       82       6.441221   Low_spender     9.0
62       82       6.441221   Low_spender     9.0
63       82       6.441221   Low_spender     9.0
64       82       6.441221   Low_spender     9.0
65       82       6.441221   Low_spender     9.0
66       82       6.441221   Low_spender     9.0
67       98       8.028000   Low_spender     9.0
68       98       8.028000   Low_spender     9.0
69       98       8.028000   Low_spender     9.0
70       98       8.028000   Low_spender     9.0
71       98       8.028000   Low_spender     9.0
72       98       8.028000   Low_spender     9.0
73       98       8.028000   Low_spender     9.0
74      109       5.850725   Low_spender     9.0
75      120       9.385714   Low_spender     9.0
76      120       9.385714   Low_spender     9.0
77      185       7.715000   Low_spender     9.0
78      195       7.149730   Low_spender     9.0
79      195       7.149730   Low_spender     9.0
80      195       7.149730   Low_spender     9.0
81      195       7.149730   Low_spender     9.0
82      195       7.149730   Low_spender     9.0
83      195       7.149730   Low_spender     9.0
84      195       7.149730   Low_spender     9.0
85      195       7.149730   Low_spender     9.0
86      195       7.149730   Low_spender     9.0
87      195       7.149730   Low_spender     9.0
88      195       7.149730   Low_spender     9.0
89      195       7.149730   Low_spender     9.0
90      222       6.862397   Low_spender     9.0
91      222       6.862397   Low_spender     9.0
92      290       7.285597   Low_spender     9.0
93      290       7.285597   Low_spender     9.0
94      331       7.705128   Low_spender     9.0
95      360      10.006250  High_spender     9.0
96      377       8.496552   Low_spender     9.0
97      387       7.396610   Low_spender     9.0
98      420       7.387805   Low_spender     9.0
99      420       7.387805   Low_spender     9.0

In [19]:
# Create a column for frequet users
ords_prods_merge['Customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [20]:
# Creating flag on order frequency
ords_prods_merge.loc[ords_prods_merge['Customer_frequency'] > 20, 'frequency_flag'] = 'Non_frequent_customer'

ords_prods_merge.loc[(ords_prods_merge['Customer_frequency']>10) & (ords_prods_merge['Customer_frequency']<=20),'frequency_flag'] = 'Regular customer'

ords_prods_merge.loc[ords_prods_merge['Customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent Customer'

In [21]:
# Check frequency flags

ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent Customer        21559853
Regular customer          7208564
Non_frequent_customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

NaN values should mean that there are 5 customers who have only bought once.

In [22]:
ords_prods_merge[['user_id','days_since_prior_order', 'Customer_frequency', 'frequency_flag']].head(100)

    user_id  days_since_prior_order  Customer_frequency         frequency_flag
0         1                     NaN                20.5  Non_frequent_customer
1         1                    15.0                20.5  Non_frequent_customer
2         1                    21.0                20.5  Non_frequent_customer
3         1                    29.0                20.5  Non_frequent_customer
4         1                    28.0                20.5  Non_frequent_customer
5         1                    19.0                20.5  Non_frequent_customer
6         1                    20.0                20.5  Non_frequent_customer
7         1                    14.0                20.5  Non_frequent_customer
8         1                     0.0                20.5  Non_frequent_customer
9         1                    30.0                20.5  Non_frequent_customer
10       15                     7.0                10.0      Frequent Customer
11       15                     8.0                10.0      Frequent Customer
12       15                     7.0                10.0      Frequent Customer
13       15                     7.0                10.0      Frequent Customer
14       15                    14.0                10.0      Frequent Customer
15       19                     6.0                 6.0      Frequent Customer
16       19                     8.0                 6.0      Frequent Customer
17       19                     6.0                 6.0      Frequent Customer
18       21                     6.0                 7.5      Frequent Customer
19       31                     7.0                 6.0      Frequent Customer
20       31                     8.0                 6.0      Frequent Customer
21       43                     4.0                10.0      Frequent Customer
22       43                     3.0                10.0      Frequent Customer
23       52                     NaN                 8.0      Frequent Customer
24       52                     7.0                 8.0      Frequent Customer
25       52                     7.0                 8.0      Frequent Customer
26       52                     8.0                 8.0      Frequent Customer
27       52                     8.0                 8.0      Frequent Customer
28       52                     7.0                 8.0      Frequent Customer
29       52                     8.0                 8.0      Frequent Customer
30       52                     7.0                 8.0      Frequent Customer
31       52                     6.0                 8.0      Frequent Customer
32       52                     8.0                 8.0      Frequent Customer
33       52                     6.0                 8.0      Frequent Customer
34       52                    14.0                 8.0      Frequent Customer
35       52                     8.0                 8.0      Frequent Customer
36       52                    30.0                 8.0      Frequent Customer
37       67                     NaN                 7.0      Frequent Customer
38       67                     5.0                 7.0      Frequent Customer
39       67                     7.0                 7.0      Frequent Customer
40       67                     8.0                 7.0      Frequent Customer
41       67                     8.0                 7.0      Frequent Customer
42       67                     7.0                 7.0      Frequent Customer
43       67                     7.0                 7.0      Frequent Customer
44       67                     7.0                 7.0      Frequent Customer
45       67                     6.0                 7.0      Frequent Customer
46       67                     7.0                 7.0      Frequent Customer
47       67                     8.0                 7.0      Frequent Customer
48       67                     6.0                 7.0      Frequent Customer
49       67                     7.0                 7.0      Frequent Customer
50       67                     9.0                 7.0      Frequent Customer
51       67                     4.0                 7.0      Frequent Customer
52       67                     9.0                 7.0      Frequent Customer
53       67                     5.0                 7.0      Frequent Customer
54       67                    14.0                 7.0      Frequent Customer
55       67                    14.0                 7.0      Frequent Customer
56       81                    14.0                30.0  Non_frequent_customer
57       81                    30.0                30.0  Non_frequent_customer
58       82                     NaN                11.5       Regular customer
59       82                     5.0                11.5       Regular customer
60       82                    16.0                11.5       Regular customer
61       82                    13.0                11.5       Regular customer
62       82                    30.0                11.5       Regular customer
63       82                     1.0                11.5       Regular customer
64       82                    12.0                11.5       Regular customer
65       82                     7.0                11.5       Regular customer
66       82                     8.0                11.5       Regular customer
67       98                    25.0                25.0  Non_frequent_customer
68       98                     5.0                25.0  Non_frequent_customer
69       98                    30.0                25.0  Non_frequent_customer
70       98                    15.0                25.0  Non_frequent_customer
71       98                    30.0                25.0  Non_frequent_customer
72       98                    30.0                25.0  Non_frequent_customer
73       98                     8.0                25.0  Non_frequent_customer
74      109                     9.0                26.0  Non_frequent_customer
75      120                     NaN                19.0       Regular customer
76      120                    19.0                19.0       Regular customer
77      185                    25.0                25.0  Non_frequent_customer
78      195                     NaN                 4.0      Frequent Customer
79      195                     4.0                 4.0      Frequent Customer
80      195                     3.0                 4.0      Frequent Customer
81      195                     7.0                 4.0      Frequent Customer
82      195                     4.0                 4.0      Frequent Customer
83      195                     4.0                 4.0      Frequent Customer
84      195                     6.0                 4.0      Frequent Customer
85      195                     0.0                 4.0      Frequent Customer
86      195                     2.0                 4.0      Frequent Customer
87      195                     2.0                 4.0      Frequent Customer
88      195                     2.0                 4.0      Frequent Customer
89      195                     3.0                 4.0      Frequent Customer
90      222                     1.0                 5.0      Frequent Customer
91      222                     1.0                 5.0      Frequent Customer
92      290                     6.0                 7.0      Frequent Customer
93      290                     7.0                 7.0      Frequent Customer
94      331                    30.0                30.0  Non_frequent_customer
95      360                     NaN                 4.0      Frequent Customer
96      377                     3.0                16.5       Regular customer
97      387                    22.0                 8.0      Frequent Customer
98      420                    30.0                 7.0      Frequent Customer
99      420                    16.0                 7.0      Frequent Customer

In [23]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'aggregated_ords_prods_merge.pkl'))